.main {
  padding-top: 1em;
  padding-bottom: 1em;
}

.main .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', sans-serif;
  position: relative;
  background-color: rgba(147, 209, 191, 0.3);
}

.main .wrapper * {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main .wrapper .wrapper__info__content {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main .wrapper .wrapper__info__content .title {
  font-size: 1.5em;
  margin-top: 1em;
}

.main .wrapper .wrapper__info__content .title .hr {
  display: flex;
  margin-top: -0.1em;
  margin-left: 0;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.7);
}

.main .wrapper .wrapper__info__content .info {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .wrapper .wrapper__info__content .info .label {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
}

.main .wrapper .wrapper__info__content .info .info__text {
  margin: 0.5em 0.4em 0 0.4em;
  font-size: 1.25em;
}

.main .wrapper .info__description {
  margin-top: 1em;
}

.main .wrapper .info__description .desc__header {
  display: flex;
  color: rgba(0, 0, 0, 0.75);
}

.main .wrapper .info__description .desc__header .desc__header__title {
  margin: 0;
  font-size: 1.25em;
}

.main .wrapper .info__description .desc__header .desc__header__img {
  content: url("../images/arrow-down.svg");
  max-width: 20px;
  max-height: 20px;
  margin-left: auto;
  align-self: flex-end;
}

.main .wrapper .info__description .desc__content {
  display: none;
  flex-direction: column;
}

.main .wrapper .info__description .desc__content .desc__content__text {
  font-size: 1em;
  margin: 0.5em 0 0 0;
}

.main .wrapper .info__description .desc__content .desc__content__author {
  font-size: 0.85em;
  margin: 0.5em 0 0 0;
  color: rgba(0, 0, 0, 0.7);
}

.main .wrapper .info__description .hr {
  display: flex;
  margin-top: 0.3em;
  color: rgba(0, 0, 0, 0.7);
}

.main .wrapper .swiper {
  height: 300px;
  border-radius: 10px;
  margin: 0 0 1em 0;
  position: relative;
}

.main .wrapper .swiper .swiper-button-next,
.main .wrapper .swiper .swiper-button-prev {
  color: rgba(0, 0, 0, 0.86);
}

.main .wrapper .swiper .swiper-button-next {
  margin-right: 1em;
}

.main .wrapper .swiper .swiper-button-prev {
  margin-left: 1em;
}

.main .wrapper .swiper .swiper-slide {
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .wrapper .swiper .swiper-slide img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  right: 5%;
  height: 100%;
  position: absolute;
  width: 90%;
  object-fit: cover;
}

.main .wrapper .buttons {
  margin-bottom: 0.5em;
  border: 0;
  display: flex;
}

.main .wrapper .buttons .apply__btn {
  font-size: 1.25em;
  font-family: 'Comfortaa', sans-serif;
  border: 0;
  background-color: rgba(147, 209, 191, 0.25);
  border-radius: 5px;
  padding: 0.5em;
}

.main .wrapper .buttons a {
  max-width: 40px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .wrapper .buttons a .like__image {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 1100px) {
  .main .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .main .wrapper .info .label {
    font-size: 1.1em;
  }
  .main .wrapper .info .info__text {
    font-size: 1.35em;
  }
  .main .wrapper .info__description .desc__header__title {
    font-size: 1.35em;
  }
  .main .wrapper .info__description .desc__content .desc__content__text {
    font-size: 1.2em;
  }
  .main .wrapper .info__description .desc__content .desc__content__author {
    font-size: 0.95em;
  }
  .main .wrapper .title {
    font-size: 1.6em;
  }
  .main .wrapper .swiper {
    width: 400px;
    height: 300px;
  }
  .main .wrapper .buttons .apply__btn {
    font-size: 1.35em;
  }
  .main .wrapper .buttons a {
    max-width: 50px;
    max-height: 50px;
  }
  .main .wrapper .buttons a .like__image {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 900px) {
  .main .wrapper {
    display: flex;
    flex-direction: column;
  }
  .main .wrapper .info .label {
    font-size: 1.1em;
  }
  .main .wrapper .info .info__text {
    font-size: 1.35em;
  }
  .main .wrapper .info__description .desc__header__title {
    font-size: 1.35em;
  }
  .main .wrapper .info__description .desc__content .desc__content__text {
    font-size: 1.2em;
  }
  .main .wrapper .info__description .desc__content .desc__content__author {
    font-size: 0.95em;
  }
  .main .wrapper .title {
    font-size: 1.6em;
  }
  .main .wrapper .swiper {
    width: 100%;
    height: 450px;
  }
  .main .wrapper .buttons #btn__small_screen {
    display: flex;
  }
  .main .wrapper .buttons .apply__btn {
    font-size: 1.35em;
  }
  .main .wrapper .buttons a {
    max-width: 50px;
    max-height: 50px;
  }
  .main .wrapper .buttons a .like__image {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 750px) {
  .main .wrapper .info .label {
    font-size: 1em;
  }
  .main .wrapper .info .info__text {
    font-size: 1.25em;
  }
  .main .wrapper .info__description .desc__header__title {
    margin: 0;
    font-size: 1.25em;
  }
  .main .wrapper .info__description .desc__content .desc__content__text {
    font-size: 1em;
  }
  .main .wrapper .info__description .desc__content .desc__content__author {
    font-size: 0.85em;
  }
  .main .wrapper .title {
    font-size: 1.5em;
  }
  .main .wrapper .swiper {
    height: 400px;
  }
  .main .wrapper .buttons .apply__btn {
    font-size: 1.25em;
  }
  .main .wrapper .buttons a {
    max-width: 40px;
    max-height: 40px;
  }
  .main .wrapper .buttons a .like__image {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 650px) {
  .main .wrapper .swiper {
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  .swiper {
    height: 300px;
  }
}
/*# sourceMappingURL=announcment-info.css.map */